<!DOCTYPE html>
<html>
    <%- include('header') %>
    <body>

        <h1><%= pageTitle %></h1>
        <p>Sorry, you seems to be lost. No problem we will help you. Go to <a href="/" class="btn btn-primary">Home Page</a> or <a href="/blogs" class="btn btn-info" title="Go to all blogs">All Blogs</a></p>

        <%- include('footer') %>    
    </body>
</html>