<!DOCTYPE html>
<html>
    <%- include('header') %>
    <body>
        <div class="container">
            <h1><%= pageTitle %></h1>
            <form method="POST" action="/blogs">
                <div class="form-group">
                  <label for="blog-title">Title</label>
                  <input type="text" class="form-control" name="blog-title" id="blog-title" placeholder="Blog Title">
                </div>
                <div class="form-group">
                  <label for="blog-body">Body</label>
                  <textarea class="form-control" name="blog-body" id="blog-body" rows="3"></textarea>
                </div>
                <a href="/blogs" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>

        <%- include('footer') %>
        <script>
            window.onload = function() {
                document.getElementById("blog-title").focus();
            }
        </script>
    </body>
</html>