<!DOCTYPE html>
<html>
    <%- include('header') %>
    <body>

        <h1><%= pageTitle %></h1>
        <p>Welcome to blog application. Start by creating your blog: <a href="/blogs/create" class="btn btn-primary">Create Blog</a></p>
        <a href="/blogs" class="btn btn-info" title="Go to all blogs">All Blogs</a>

        <%- include('footer') %>    
    </body>
</html>